<div class="col-lg-4 col-md-6">
        <div class="single-course mt-30">
            <div class="thum">
                <div class="image">
                    <img src="{% static  'images/course/cu-2.jpg' %}" alt="Course">
                </div>
                <div class="price">
                    <span>Free</span>
                </div>
            </div>
            <div class="cont">
                <ul>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                </ul>
                <span>(20 Reviews)</span>
                <a href="courses-single.html"><h4>Learn basic javascript from start for beginner</h4></a>
                <div class="course-teacher">
                    <div class="thum">
                        <a href="#"><img src="{% static  'images/course/teacher/t-2.jpg' %}" alt="teacher"></a>
                    </div>
                    <div class="name">
                        <a href="#"><h6>Mark anthem</h6></a>
                    </div>
                    <div class="admin">
                        <ul>
                            <li><a href="#"><i class="fa fa-user"></i><span>31</span></a></li>
                            <li><a href="#"><i class="fa fa-heart"></i><span>10</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- single course -->
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="single-course mt-30">
            <div class="thum">
                <div class="image">
                    <img src="{% static  'images/course/cu-3.jpg' %}" alt="Course">
                </div>
                <div class="price">
                    <span>Free</span>
                </div>
            </div>
            <div class="cont">
                <ul>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                </ul>
                <span>(20 Reviews)</span>
                <a href="courses-single.html"><h4>Learn basic javascript from start for beginner</h4></a>
                <div class="course-teacher">
                    <div class="thum">
                        <a href="#"><img src="{% static  'images/course/teacher/t-3.jpg' %}" alt="teacher"></a>
                    </div>
                    <div class="name">
                        <a href="#"><h6>Mark anthem</h6></a>
                    </div>
                    <div class="admin">
                        <ul>
                            <li><a href="#"><i class="fa fa-user"></i><span>31</span></a></li>
                            <li><a href="#"><i class="fa fa-heart"></i><span>10</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- single course -->
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="single-course mt-30">
            <div class="thum">
                <div class="image">

                    <img src="{% static  'images/course/cu-4.jpg' %}" alt="Course">
                </div>
                <div class="price">
                    <span>Free</span>
                </div>
            </div>
            <div class="cont">
                <ul>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                </ul>
                <span>(20 Reviews)</span>
                <a href="courses-single.html"><h4>Learn basic javascript from start for beginner</h4></a>
                <div class="course-teacher">
                    <div class="thum">
                        <a href="#"><img src="{% static  'images/course/teacher/t-4.jpg' %}" alt="teacher"></a>
                    </div>
                    <div class="name">
                        <a href="#"><h6>Mark anthem</h6></a>
                    </div>
                    <div class="admin">
                        <ul>
                            <li><a href="#"><i class="fa fa-user"></i><span>31</span></a></li>
                            <li><a href="#"><i class="fa fa-heart"></i><span>10</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- single course -->
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="single-course mt-30">
            <div class="thum">
                <div class="image">
                    <img src="{% static  'images/course/cu-5.jpg' %}" alt="Course">
                </div>
                <div class="price">
                    <span>Free</span>
                </div>
            </div>
            <div class="cont">
                <ul>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                </ul>
                <span>(20 Reviews)</span>
                <a href="courses-single.html"><h4>Learn basic javascript from start for beginner</h4></a>
                <div class="course-teacher">
                    <div class="thum">
                        <a href="#"><img src="{% static  'images/course/teacher/t-5.jpg' %}" alt="teacher"></a>
                    </div>
                    <div class="name">
                        <a href="#"><h6>Mark anthem</h6></a>
                    </div>
                    <div class="admin">
                        <ul>
                            <li><a href="#"><i class="fa fa-user"></i><span>31</span></a></li>
                            <li><a href="#"><i class="fa fa-heart"></i><span>10</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- single course -->
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="single-course mt-30">
            <div class="thum">
                <div class="image">
                    <img src="{% static  'images/course/cu-1.jpg' %}" alt="Course">
                </div>
                <div class="price">
                    <span>Free</span>
                </div>
            </div>
            <div class="cont">
                <ul>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                </ul>
                <span>(20 Reviews)</span>
                <a href="courses-single.html"><h4>Learn basic javascript from start for beginner</h4></a>
                <div class="course-teacher">
                    <div class="thum">
                        <a href="#"><img src="{% static  'images/course/teacher/t-1.jpg' %}" alt="teacher"></a>
                    </div>
                    <div class="name">
                        <a href="#"><h6>Mark anthem</h6></a>
                    </div>
                    <div class="admin">
                        <ul>
                            <li><a href="#"><i class="fa fa-user"></i><span>31</span></a></li>
                            <li><a href="#"><i class="fa fa-heart"></i><span>10</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- single course -->
    </div>