{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'dashboard/css/dashboard-style.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/css/index.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/css/swiper.min.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/css/dialog.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/css/jquery.mloading.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'dashboard/js/dialog.min.js' %}"></script>
<script src="{% static 'dashboard/js/jquery.mloading.js' %}"></script>
{% endblock %}

{% block content %}

<!--====== PAGE BANNER PART START ======-->

<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8"
    style="background-image: url('/static/images/page-banner-1.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>Dashboard</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'course-home' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                        </ol>
                    </nav>
                </div> <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== PAGE BANNER PART ENDS ======-->


<!-- 公告 start -->
<section class="areaList explosion mt-60">
    <div class="layout clearfix">
        <!-- start -->
        <aside class="fl areaType bgWhite newer">
            <div class="areaName">
                <h4>class_1</h4>
                <a class="link_t link999" href="#" target="_blank">info&gt;</a>
            </div>
            <div class="clearfix">
                <p class="notice fl">
                    Section xx
                </p>
                <div class="fr detail">
                    <div class="rateInfo">
                        <span class="rate fcDeepRed"><em>1h</em>left</span>
                        <span class="rateNotice fc666">P r o c e s s</span>
                    </div>
                    <p class="fc999">
                        Already
                        <em class="fcDeepRed">7</em> h
                        <em class="fcDeepRed">40</em> min
                    </p>
                </div>
            </div>
            <a class="link_c link333" href="#" target="_blank">go ahead &gt;</a>
        </aside>
        <!--end -->
        <!-- tart -->



        <aside class="fl areaType bgWhite boom">
            <div class="areaName">
                <h4>class_2</h4>
                <a class="link_t link999" href="#">info &gt;</a>
            </div>
            <div class="clearfix">
                <div class="detail">
                    <div class="rateInfo">
                        <p>
                            Section xx
                        </p>
                        <span class="rate fcDeepRed"><em>34</em>h </span>
                        <span class="rate fcDeepRed"><em>24</em>min</span>
                        <div class="pgSpeed">
                            <span class="pgLine" data-speed="1">
                                <span class="bgRed" style="width:30%"></span>
                            </span>
                            <span class="fcRed pgText"><em>30</em>%</span>
                        </div>
                    </div>
                </div>
                <div class="goInvest">
                    <a href="#"></a>
                </div>
            </div>
        </aside>
        <!-- end -->
        <aside class="fl areaType bgWhite noticeList">
            <div class="areaName">
                <h4>class_list</h4>
                <a class="link_t link999" href="#">info&gt;</a>
            </div>
            <ul class="clearfix nList cgNotice">
                <li>
                    <a href="#">
                        class_3
                    </a>
                    <span class="fc666 data">02-23</span>
                </li>
                <li>
                    <a href="#">
                        class_4
                    </a>
                    <span class="fc666 data">02-23</span>
                </li>
                <li>
                    <a href="#">
                        class_5
                    </a>
                    <span class="fc666 data">02-23</span>
                </li>
            </ul>
        </aside>
    </div>
</section>
<!-- end -->
<!-- start -->
<section class="areaList productList youxuan">
    <div class="layout">
        <div class="listCon bgWhite clearfix">
            <a class="fl areaType" href="#">
                <div class="areaName">
                    <h4>You may interested</h4>
                </div>
                <p class="notice fc333">
                    content based
                </p>
                <span class="link_c link666">more &gt;</span>
            </a>
            <article class="fl">
                <ul class="pList fl">
                    <li class="bgWhite">
                        <a href="#" onclick="addCart('1')">
                            <div class="hBk">
                            </div>
                            <h4>$ 40</h4>
                            <div class="pContent">
                                <div class="rateInfo">
                                    <img src="xxxx" style="width: 115px;height: 115px" alt="">
                                    <span class="rate fcDeepRed "></span>
                                </div>
                                <div class="view downTimeC">
                                    <span class="link333 link_s">add in chart</span>
                                </div>
                                <!--<span class="icon" style="background:none;"><img src="unpan/blue/src/model1.png" style="height: 100%; width: 100%;"></span>-->
                            </div>
                            <div class="fBk">
                            </div>
                        </a>
                    </li>
                    <li class="bgWhite">
                        <a href="#" onclick="addCart('2')">
                            <div class="hBk">
                            </div>
                            <h4>$ 40</h4>
                            <div class="pContent">
                                <div class="rateInfo">
                                    <img src="xxx" style="width: 115px;height: 115px" alt="">
                                    <span class="rate fcDeepRed "></span>
                                </div>
                                <div class="view downTimeC">
                                    <span class="link333 link_s">add in chart</span>
                                </div>
                                <!--<span class="icon" style="background:none;"><img src="unpan/blue/src/model1.png" style="height: 100%; width: 100%;"></span>-->
                            </div>
                            <div class="fBk">
                            </div>
                        </a>
                    </li>
                    <li class="bgWhite">
                        <a href="#" onclick="addCart('4')">
                            <div class="hBk">
                            </div>
                            <h4>$ 40</h4>
                            <div class="pContent">
                                <div class="rateInfo">
                                    <img src="xxxx" style="width: 115px;height: 115px" alt="">
                                    <span class="rate fcDeepRed "></span>
                                </div>
                                <div class="view downTimeC">
                                    <span class="link333 link_s">add in chart</span>
                                </div>
                                <!--<span class="icon" style="background:none;"><img src="unpan/blue/src/model1.png" style="height: 100%; width: 100%;"></span>-->
                            </div>
                            <div class="fBk">
                            </div>
                        </a>
                    </li>
                    <li class="bgWhite">
                        <a href="#" onclick="addCart('5')">
                            <div class="hBk">
                            </div>
                            <h4>$ 40</h4>
                            <div class="pContent">
                                <div class="rateInfo">
                                    <img src="xxxx" style="width: 115px;height: 115px" alt="">
                                    <span class="rate fcDeepRed "></span>
                                </div>
                                <div class="view downTimeC">
                                    <span class="link333 link_s">add in chart</span>
                                </div>
                                <!--<span class="icon" style="background:none;"><img src="unpan/blue/src/model1.png" style="height: 100%; width: 100%;"></span>-->
                            </div>
                            <div class="fBk">
                            </div>
                        </a>
                    </li>
                </ul>
            </article>
        </div>
    </div>
</section>
<!-- end -->
<!-- start -->
<section class="areaList productList xiaofei">
    <div class="layout">
        <div class="listCon bgWhite clearfix">
            <a class="fl areaType" href="#">
                <div class="areaName">
                    <h4>You may interested</h4>
                </div>
                <p class="notice fc333">
                    CF
                </p>
                <span class="link_c link666">more &gt;</span>
            </a>
            <article class="fl">
                <ul class="pList fl">
                    <li class="bgWhite last">
                        <a href="#" onclick="addCart('1')">
                            <div class="hBk">
                            </div>
                            <h4>$ 40</h4>
                            <div class="pContent">
                                <div class="rateInfo">
                                    <img src="xxxx" style="width: 115px;height: 115px" alt="">
                                    <span class="rate fcDeepRed ">
                                    </span>
                                </div>
                                <div class="view">
                                    <span class="link333 link_s">add in chart</span>
                                </div>
                                <span class="icon2"></span>
                            </div>
                            <div class="fBk">
                            </div>
                        </a>
                    </li>
                    <li class="bgWhite last">
                        <a href="#" onclick="addCart('2')">
                            <div class="hBk">
                            </div>
                            <h4>$ 40</h4>
                            <div class="pContent">
                                <div class="rateInfo">
                                    <img src="xxxx" style="width: 115px;height: 115px" alt="">
                                    <span class="rate fcDeepRed ">
                                    </span>
                                </div>
                                <div class="view">
                                    <span class="link333 link_s">add in chart</span>
                                </div>
                                <span class="icon2"></span>
                            </div>
                            <div class="fBk">
                            </div>
                        </a>
                    </li>
                    <li class="bgWhite last">
                        <a href="#" onclick="addCart('4')">
                            <div class="hBk">
                            </div>
                            <h4>$ 40</h4>
                            <div class="pContent">
                                <div class="rateInfo">
                                    <img src="xxxx" style="width: 115px;height: 115px" alt="">
                                    <span class="rate fcDeepRed ">
                                    </span>
                                </div>
                                <div class="view">
                                    <span class="link333 link_s">add in chart</span>
                                </div>
                                <span class="icon2"></span>
                            </div>
                            <div class="fBk">
                            </div>
                        </a>
                    </li>
                    <li class="bgWhite last">
                        <a href="#" onclick="addCart('5')">
                            <div class="hBk">
                            </div>
                            <h4>$ 40</h4>
                            <div class="pContent">
                                <div class="rateInfo">
                                    <img src="xxxx" style="width: 115px;height: 115px" alt="">
                                    <span class="rate fcDeepRed ">
                                    </span>
                                </div>
                                <div class="view">
                                    <span class="link333 link_s">add in chart</span>
                                </div>
                                <span class="icon2"></span>
                            </div>
                            <div class="fBk">
                            </div>
                        </a>
                    </li>
                </ul>
            </article>
        </div>
    </div>
</section>


<!-- 在线客服浮层 start -->
<div id="adLayer" style="width: 50px;">
    <div class="ask ">
        <a href="#" class="adLayerBg"></a>
        <div class="askClass cusmerQList" style="display: none;">
            <dl>
                <dt>Frequently asked questions you may have?
                </dt>
                <dd>
                    <a href="#" target="_blank">Is there any UTS school introduction?</a>
                    <a href="#" target="_blank">How to register an account?</a>
                    <a href="#" target="_blank">What are the majors in the school?</a>
                    <a href="#" target="_blank">How long is the registration usually in advance?</a>
                    <a href="#" target="_blank">What should I do if my password is forgotten?</a>
                    <a href="#" target="_blank"></a>
                    <a href="#" target="_blank"></a>
                </dd>
            </dl>
            <div class="clearfix cusmerQFoot bgGreen">
                <span class="fl fcWhite">Service Time：9:00-18:00</span>
                <a class="fr" href="#" target="_blank">Online Service</a>
            </div>
        </div>
    </div>
</div>
<!-- 在线客服浮层 -->
<!--[if IE 6]>
        <script src="unpan/bule/js/png24.js"></script>
        <script>
            DD_belatedPNG.fix('*');
        </script>
        <![endif]-->
<!-- <script type="text/javascript" src="unpan/blue/js/public.js"></script>
<script src="unpan/blue/js/swiper.min.js"></script> -->
<script type="text/javascript">
    var galleryTop = new Swiper('.gallery-top', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        spaceBetween: 10,
        loop: true,
        autoplay: 3000,
        paginationClickable: true,
        pagination: '.imgBanner .pagination'
    });
    var noticeList = new Swiper('.noticeList .swiper-container', {
        spaceBetween: 10,
        loop: true,
        mode: 'vertical',
        autoplay: 3000
    });
    $(function () {
        var pageList = $(".swiper-pagination-switch").length;
        var pageWidth = (1200 - pageList) / pageList;
        pageWidth = Math.floor(pageWidth * 100) / 100
        $(".swiper-pagination-switch, .menu_banner .textList span").css("width", pageWidth);
        $(".menu_banner .textList span").bind("click", function () {
            var $this = $(this);
            var liIndex = $this.index(".menu_banner .textList span");
            $(".swiper-pagination-switch").eq(liIndex).click();
        });
        $(".youxuan .areaType, .xiaofei .areaType").hover(function () {
            $(this).parents(".listCon").addClass("curr");
        }, function () {
            $(this).parents(".listCon").removeClass("curr");
        })
    })
    function addCart(id) {
        $('body').mLoading('show');
        $.post('/shop/shop-info', { sid: id }, function (data) {
            if (data.code == 1) {
                $('body').mLoading('hide');
                success(data.msg, function () {
                })
            } else {
                $('body').mLoading('hide');
                error(data.msg, function () {
                })
            }
        })
    }
</script>


{% endblock content %}