{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}



<!--[if IE]>
<script src="unpan/blue/js/html5shiv.js"></script>
<![endif] -->
<!-- top 部分 start-->
    
    <!--


<section class="top" id="topSection">
<div class="layout clearfix">
	<ul class="fl topL">
		<li class="weixin">
		<a href="#">
                    微信公众号
		<span class="icon"></span>
		<img class="disNone" src="unpan/blue/src/code.jpg" alt="深蓝积分">
		</a>
		</li>
		<li class="cusmer">
		<a href="#">
                    咨询客服
		<span class="icon"></span>
		</a>
		<div class="cusmerQList disNone">
			<dl>
				<dt>您可能遇到的常见问题？</dt>
				<dd>
				<a href="#" target="_blank">深蓝积分的公司介绍有么？</a>
				<a href="#" target="_blank">如何设置提现的电子钱包账户？</a>
				<a href="#" target="_blank">他的公司资质和运营是怎么样的？</a>
				<a href="#" target="_blank">关于投资和提现有什么费用吗？</a>
				<a href="#" target="_blank">我的密码忘记了怎么办？</a>
				<a href="#" target="_blank">投资利息从什么时候开始计算？</a>
				<a href="#" target="_blank">深蓝积分的安全保障有哪些？</a>
				</dd>
			</dl>
			<div class="clearfix cusmerQFoot bgGreen">
				<span class="fl fcWhite">工作日 9:00-18:00</span>
				<a class="fr" href="#" target="_blank">在线咨询</a>
			</div>
		</div>
		</li>
	</ul>
	<ul class="fr topR">
		<li><a href="#" target="_blank">当前IP：220.188.65.89</a></li>
		<li><a href="#">中国未知城市</a></li>
	</ul>
</div>
</section>

<header id="topHeader">
<div class="layout clearfix">
	<a class="logo" href="#">
	<img class="fl" id="topLogo" src="unpan/blue/src/logo.png" style="height: 74px;width: 328px" alt="让投资实现梦想">
	</a>

	<nav class="fl">
	<ul class="fl menu">
		<li>
		<a href="index.html" rel="nofollow">首&nbsp;&nbsp;&nbsp;页</a>
		</li>
		<li>
		<a href="shop.html" rel="nofollow">积分商城</a>
		</li>
		<li>
		<a href="transaction.html" rel="nofollow">交易管理</a>
		</li>
		<li class="curr">
		<a href="account.html" rel="nofollow">账户管理</a>
		</li>
		<li>
		<a href="help.html" rel="nofollow">帮助中心</a>
		</li>
	</ul>
	</nav>

	<div class="fr user">
		<div class="navList">
			<div class="userTitle">
				<a href="#">v18767938957<span class="icon"></span></a>
			</div>
			<ul class="list bgWhite shadow ">
				<li><a href="#" target="_blank">我要充值</a></li>
				<li><a href="#">我要提现</a></li>
				<li><a href="#">我的投资</a></li>
				<li><a href="#">推荐好友</a></li>
				<li><a href="#">我的奖励</a></li>
				<li><a href="#" class="noBorder">退出登录</a></li>
			</ul>
		</div>
	</div>
</div>
</header>
    
    -->    
    
    
    

    <!--
<section class="menu_banner">
<div class="layout">

	<article class="imgBanner" style="height: 400px;">
	<div class="swiper-container gallery-top">
		<div class="swiper-wrapper" style="width: 8400px; height: 400px; transform: translate3d(-6000px, 0px, 0px); transition-duration: 0.3s;">
			<div class="swiper-slide swiper-slide-duplicate" style="width: 1200px; height: 400px;">
				<a target="_blank" href="#"><img src="unpan/blue/src/banner/1.jpg"></a>
			</div>
			<div class="swiper-slide" style="width: 1200px; height: 400px;">
				<a target="_blank" href="#"><img src="unpan/blue/src/banner/2.jpg"></a>
			</div>
			<div class="swiper-slide" style="width: 1200px; height: 400px;">
				<a target="_blank" href="#"><img src="unpan/blue/src/banner/3.jpg"></a>
			</div>
			<div class="swiper-slide" style="width: 1200px; height: 400px;">
				<a target="_blank" href="#"><img src="unpan/blue/src/banner/4.jpg"></a>
			</div>
			<div class="swiper-slide" style="width: 1200px; height: 400px;">
				<a target="_blank" href="#"><img src="unpan/blue/src/banner/5.jpg"></a>
			</div>
		</div>
	</div>
	<div class="textList">
		<span style="width: 239px;">优质消费环境</span>
		<span style="width: 239px;">创新商业模式</span>
		<span style="width: 239px;">购物即投资</span>
		<span style="width: 239px;">2.0双模式</span>
		<span style="width: 239px;">专业风控团队</span>
	</div>
	<div class="pagination">
		<span class="swiper-pagination-switch" style="width: 239px;"></span>
		<span class="swiper-pagination-switch" style="width: 239px;"></span>
		<span class="swiper-pagination-switch" style="width: 239px;"></span>
		<span class="swiper-pagination-switch" style="width: 239px;"></span>
		<span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch" style="width: 239px;"></span>
	</div>
	</article>
	-->
    
    
    
    
<div>
<section>
<section class="dataInfo">
<div class="layout bgWhite">
	<div class="dataContent clearfix">
			<i class="icon"></i>
			<div class="noticeList">
				<div class="swiper-container">
					<div class="swiper-wrapper" style="width: 285px; height: 300px; transform: translate3d(0px, -200px, 0px); transition-duration: 0.3s;">
						<div class="swiper-slide swiper-slide-duplicate" style="width: 285px; height: 50px;">
							<a href="#" target="_blank">
                                    Ready to jump back in ?                                 
							</a>
							<span class="time fc666">Last date 11/19</span>
						</div>
						<div class="swiper-slide" style="width: 285px; height: 50px;">
							<a href="#" target="_blank">
                                    Click and go ahead .                                 
							</a>
							<span class="time fc666">Last date 11/19</span>
						</div>
					</div>
				</div>
			</div>
			<a class="more link999" href="#">quick button&gt;</a>
	</div>
</div>
</section>
<!-- 平台数据 end -->
    
    
    
<!-- 公告 start -->
<section class="areaList explosion">
<div class="layout clearfix">
	<!-- start -->
	<aside class="fl areaType bgWhite newer">
	<div class="areaName">
		<h4>class_1</h4>
		<a class="link_t link999" href="#" target="_blank">info&gt;</a>
	</div>
	<div class="clearfix">
		<p class="notice fl">
			Section xx
		</p>
		<div class="fr detail">
			<div class="rateInfo">
				<span class="rate fcDeepRed"><em>1h</em>left</span>
				<span class="rateNotice fc666">P r o c e s s</span>
			</div>
			<p class="fc999">
				Already
				<em class="fcDeepRed">7</em> h
				<em class="fcDeepRed">40</em> min
			</p>
		</div>
	</div>
	<a class="link_c link333" href="#" target="_blank">go ahead &gt;</a>
	</aside>
	<!--end -->
	<!-- tart -->
	
    
    
    <aside class="fl areaType bgWhite boom">
	<div class="areaName">
		<h4>class_2</h4>
		<a class="link_t link999" href="#">info &gt;</a>
	</div>
	<div class="clearfix">
		<div class="detail">
			<div class="rateInfo">
				<p>
					Section xx
				</p>
				<span class="rate fcDeepRed"><em>34</em>h  </span>
				<span class="rate fcDeepRed"><em>24</em>min</span>
				<div class="pgSpeed">
					<span class="pgLine" data-speed="1">
					<span class="bgRed" style="width:30%"></span>
					</span>
					<span class="fcRed pgText"><em>30</em>%</span>
				</div>
			</div>
		</div>
		<div class="goInvest">
			<a href="#"></a>
		</div>
	</div>
	</aside>
	<!-- end -->
	<aside class="fl areaType bgWhite noticeList">
	<div class="areaName">
		<h4>class_list</h4>
		<a class="link_t link999" href="#">info&gt;</a>
	</div>
	<ul class="clearfix nList cgNotice">
		<li>
		<a href="#">
                        class_3
		</a>
		<span class="fc666 data">02-23</span>
		</li>
		<li>
		<a href="#">
                        class_4
		</a>
		<span class="fc666 data">02-23</span>
		</li>
		<li>
		<a href="#">
                        class_5
		</a>
		<span class="fc666 data">02-23</span>
		</li>
	</ul>
	</aside>
</div>
</section>
<!-- end -->
<!-- start -->
<section class="areaList productList youxuan">
<div class="layout">
	<div class="listCon bgWhite clearfix">
		<a class="fl areaType" href="#">
		<div class="areaName">
			<h4>You may interested</h4>
		</div>
		<p class="notice fc333">
			content based
		</p>
		<span class="link_c link666">more &gt;</span>
		</a>
		<article class="fl">
		<ul class="pList fl">
			<li class="bgWhite">
			<a href="#" onclick="addCart('1')">
			<div class="hBk">
			</div>
			<h4>$ 40</h4>
			<div class="pContent">
				<div class="rateInfo">
					<!-- <img src="xxxx" style="width: 115px;height: 115px" alt=""> -->
					<span class="rate fcDeepRed "></span>
				</div>
				<div class="view downTimeC">
					<span class="link333 link_s">add in chart</span>
				</div>
				<!--<span class="icon" style="background:none;"><img src="unpan/blue/src/model1.png" style="height: 100%; width: 100%;"></span>-->
			</div>
			<div class="fBk">
			</div>
			</a>
			</li>
			<li class="bgWhite">
			<a href="#" onclick="addCart('2')">
			<div class="hBk">
			</div>
			<h4>$ 40</h4>
			<div class="pContent">
				<div class="rateInfo">
					<!-- <img src="xxx" style="width: 115px;height: 115px" alt=""> -->
					<span class="rate fcDeepRed "></span>
				</div>
				<div class="view downTimeC">
					<span class="link333 link_s">add in chart</span>
				</div>
				<!--<span class="icon" style="background:none;"><img src="unpan/blue/src/model1.png" style="height: 100%; width: 100%;"></span>-->
			</div>
			<div class="fBk">
			</div>
			</a>
			</li>
			<li class="bgWhite">
			<a href="#" onclick="addCart('4')">
			<div class="hBk">
			</div>
			<h4>$ 40</h4>
			<div class="pContent">
				<div class="rateInfo">
					<!-- <img src="xxxx" style="width: 115px;height: 115px" alt=""> -->
					<span class="rate fcDeepRed "></span>
				</div>
				<div class="view downTimeC">
					<span class="link333 link_s">add in chart</span>
				</div>
				<!--<span class="icon" style="background:none;"><img src="unpan/blue/src/model1.png" style="height: 100%; width: 100%;"></span>-->
			</div>
			<div class="fBk">
			</div>
			</a>
			</li>
			<li class="bgWhite">
			<a href="#" onclick="addCart('5')">
			<div class="hBk">
			</div>
			<h4>$ 40</h4>
			<div class="pContent">
				<div class="rateInfo">
					<!-- <img src="xxxx" style="width: 115px;height: 115px" alt=""> -->
					<span class="rate fcDeepRed "></span>
				</div>
				<div class="view downTimeC">
					<span class="link333 link_s">add in chart</span>
				</div>
				<!--<span class="icon" style="background:none;"><img src="unpan/blue/src/model1.png" style="height: 100%; width: 100%;"></span>-->
			</div>
			<div class="fBk">
			</div>
			</a>
			</li>
		</ul>
		</article>
	</div>
</div>
</section>
<!-- end -->
<!-- start -->
<section class="areaList productList xiaofei">
<div class="layout">
	<div class="listCon bgWhite clearfix">
		<a class="fl areaType" href="#">
		<div class="areaName">
			<h4>You may interested</h4>
		</div>
		<p class="notice fc333">
			CF
		</p>
		<span class="link_c link666">more &gt;</span>
		</a>
		<article class="fl">
		<ul class="pList fl">
			<li class="bgWhite last">
			<a href="#" onclick="addCart('1')">
			<div class="hBk">
			</div>
			<h4>$ 40</h4>
			<div class="pContent">
				<div class="rateInfo">
					<!-- <img src="xxxx" style="width: 115px;height: 115px" alt=""> -->
					<span class="rate fcDeepRed ">
					</span>
				</div>
				<div class="view">
					<span class="link333 link_s">add in chart</span>
				</div>
				<span class="icon2"></span>
			</div>
			<div class="fBk">
			</div>
			</a>
			</li>
			<li class="bgWhite last">
			<a href="#" onclick="addCart('2')">
			<div class="hBk">
			</div>
			<h4>$ 40</h4>
			<div class="pContent">
				<div class="rateInfo">
					<!-- <img src="xxxx" style="width: 115px;height: 115px" alt=""> -->
					<span class="rate fcDeepRed ">
					</span>
				</div>
				<div class="view">
					<span class="link333 link_s">add in chart</span>
				</div>
				<span class="icon2"></span>
			</div>
			<div class="fBk">
			</div>
			</a>
			</li>
			<li class="bgWhite last">
			<a href="#" onclick="addCart('4')">
			<div class="hBk">
			</div>
			<h4>$ 40</h4>
			<div class="pContent">
				<div class="rateInfo">
					<!-- <img src="xxxx" style="width: 115px;height: 115px" alt=""> -->
					<span class="rate fcDeepRed ">
					</span>
				</div>
				<div class="view">
					<span class="link333 link_s">add in chart</span>
				</div>
				<span class="icon2"></span>
			</div>
			<div class="fBk">
			</div>
			</a>
			</li>
			<li class="bgWhite last">
			<a href="#" onclick="addCart('5')">
			<div class="hBk">
			</div>
			<h4>$ 40</h4>
			<div class="pContent">
				<div class="rateInfo">
					<!-- <img src="xxxx" style="width: 115px;height: 115px" alt=""> -->
					<span class="rate fcDeepRed ">
					</span>
				</div>
				<div class="view">
					<span class="link333 link_s">add in chart</span>
				</div>
				<span class="icon2"></span>
			</div>
			<div class="fBk">
			</div>
			</a>
			</li>
		</ul>
		</article>
	</div>
</div>
</section>
    
    
<!-- 在线客服浮层 start -->
<div id="adLayer" style="width: 50px;">
	<div class="ask ">
		<a href="#" class="adLayerBg"></a>
		<div class="askClass cusmerQList" style="display: none;">
			<dl>
				<dt>Frequently asked questions you may have?
</dt>
				<dd>
				<a href="#" target="_blank">Is there any UTS school introduction?</a>
				<a href="#" target="_blank">How to register an account?</a>
				<a href="#" target="_blank">What are the majors in the school?</a>
				<a href="#" target="_blank">How long is the registration usually in advance?</a>
				<a href="#" target="_blank">What should I do if my password is forgotten?</a>
				<a href="#" target="_blank"></a>
				<a href="#" target="_blank"></a>
				</dd>
			</dl>
			<div class="clearfix cusmerQFoot bgGreen">
				<span class="fl fcWhite">Service Time：9:00-18:00</span>
				<a class="fr" href="#" target="_blank">Online Service</a>
			</div>
		</div>
	</div>
</div>
<!-- 在线客服浮层 -->
<!--[if IE 6]>
<script src="unpan/bule/js/png24.js"></script>
<script>
    DD_belatedPNG.fix('*');
</script>
<![endif]-->
<script type="text/javascript" src="unpan/blue/js/public.js"></script>
<script src="unpan/blue/js/swiper.min.js"></script>
<script type="text/javascript">
    var galleryTop = new Swiper('.gallery-top', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        spaceBetween: 10,
        loop: true,
        autoplay: 3000,
        paginationClickable :true,
        pagination : '.imgBanner .pagination'
    });
    var noticeList = new Swiper('.noticeList .swiper-container', {
        spaceBetween: 10,
        loop: true,
        mode : 'vertical',
        autoplay: 3000
    });
    $(function() {
        var pageList = $(".swiper-pagination-switch").length;
        var pageWidth = (1200 - pageList)/ pageList;
        pageWidth = Math.floor(pageWidth * 100) / 100
        $(".swiper-pagination-switch, .menu_banner .textList span").css("width", pageWidth);
        $(".menu_banner .textList span").bind("click", function() {
            var $this = $(this);
            var liIndex = $this.index(".menu_banner .textList span");
            $(".swiper-pagination-switch").eq(liIndex).click();
        });
        $(".youxuan .areaType, .xiaofei .areaType").hover(function() {
            $(this).parents(".listCon").addClass("curr");
        }, function() {
            $(this).parents(".listCon").removeClass("curr");
        })
    })
    function addCart(id) {
        $('body').mLoading('show');
        $.post('/shop/shop-info',{sid:id},function (data) {
            if(data.code == 1){
                $('body').mLoading('hide');
                success(data.msg,function () {
                })
            }else {
                $('body').mLoading('hide');
                error(data.msg,function () {
                })
            }
        })
    }
</script>
    
    
    
    
        

    <!--
<footer class="bgBlack fc999">
<section class="aboutUs">
<div class="layout clearfix ">
	<dl class="fl ml30">
		<dt><span class="icon" style="background-color: #21398b"></span>关于我们</dt>
		<dd><a href="#" target="_blank">深蓝简介</a></dd>
		<dd><a href="#" target="_blank">平台资质</a></dd>
		<dd><a href="#" target="_blank">深蓝荣誉</a></dd>
		<dd><a href="#" target="_blank">帮助中心</a></dd>
		<dd><a href="#" target="_blank">联系我们</a></dd>
	</dl>
	<dl class="fl">
		<dt><span class="icon" style="background-color: #fda800"></span>平台服务</dt>
		<dd><a href="#" target="_blank">深蓝平台</a></dd>
		<dd><a href="#" target="_blank">深蓝社区</a></dd>
	</dl>
	<dl class="fl">
		<dt><span class="icon bgGreen"></span>相关链接</dt>
		<dd><a href="#" target="_blank">合作伙伴</a></dd>
		<dd><a href="#" target="_blank">媒体链接</a></dd>
	</dl>
	<div class="line">
	</div>
	<div class="fl service">
		<img src="unpan/blue/src/foot.png">
		<p>
		</p>
		<h2>客服电话: 0579--85059659</h2>
		<br>
		(工作时间：9:00-18:00)
		<p>
		</p>
	</div>
</div>
</section>
</footer>
    -->
    
    
{% endblock content %}