{% extends "base.html" %}
{% load static %}
{% load customized_filter %}
{% block content %}
<!--====== PAGE BANNER PART START ======-->

<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url('/static/images/page-banner-1.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>Lecturers</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'course-home' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Lecturers</li>
                        </ol>
                    </nav>
                </div>  <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== PAGE BANNER PART ENDS ======-->

<!--====== TEACHERS PART START ======-->

<section id="teachers-page" class="pt-60 pb-60 gray-bg">
    <div class="container">
        <div class="row">
                <div class="col-lg-12">
                    <div class="courses-top-search">
                        <ul class="nav float-left" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="active" id="courses-grid-tab" data-toggle="tab" href="#courses-grid" role="tab" aria-controls="courses-grid" aria-selected="true"><i class="fa fa-th-large"></i></a>
                            </li>
                            <li class="nav-item">
                                <a id="courses-list-tab" data-toggle="tab" href="#courses-list" role="tab" aria-controls="courses-list" aria-selected="false"><i class="fa fa-th-list"></i></a>
                            </li>
                            <li class="nav-item">Showing {{ lecturers|length }} 0f {{ lecturers_size }} Results</li>
                        </ul> <!-- nav -->
                        
                        <div class="courses-search float-right">
                            <form method="POST" action="{% url 'teachers' %}">
                                {% csrf_token %}
                                <input type="text" name="filter_str" placeholder="Search" value="{{ filter_str }}">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div> <!-- courses search -->
                    </div> <!-- courses top search -->
                </div>
        </div> <!-- row -->
        <div class="row">
            {% for lecturer in lecturers %}
            <div class="col-lg-3 col-sm-6">
                <div class="single-teachers mt-30 text-center">
                    <div class="image">
                        <img src="/static/images/teachers/t-{{ forloop.counter }}.jpg" alt="Teachers">
                    </div>
                    <div class="cont">
                        <a href="{% url 'teachers-single' lecturer.id %}"><h6>{{ lecturer.account.username }}</h6></a>
                        <span>{{ title_list|index:forloop.counter0 }}</span>
                    </div>
                </div> <!-- single teachers -->
            </div>
            {% endfor %}
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <nav class="courses-pagination mt-50">
                    <ul class="pagination justify-content-center">
                        {% if lecturers.has_previous %}
                        <li class="page-item">
                            <a aria-label="First" href="{{ base_url }}1">
                                <i class="fa fa-angle-double-left"></i>
                            </a>
                        </li>
                        <li class="page-item">
                            <a aria-label="Previous" href="{{ base_url }}{{ lecturers.previous_page_number }}">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        {% endif %}

                        {% for num in lecturers.paginator.page_range %}
                            {% if lecturers.number == num %}
                        <li class="page-item"><a class="active" href="{{ base_url }}{{ num }}">{{ num }}</a></li>
                            {% elif num > lecturers.number|add:'-4' and num < lecturers.number|add:'4' %}
                        <li class="page-item"><a href="{{ base_url }}{{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if lecturers.has_next %}
                        <li class="page-item">
                            <a href="{{ base_url }}{{ lecturers.next_page_number }}" aria-label="Next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="page-item">
                            <a aria-label="Last" href="{{ base_url }}{{ lecturers.paginator.num_pages }}">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>  <!-- courses pagination -->
            </div>
        </div>  <!-- row -->
    </div> <!-- container -->
</section>

<!--====== TEACHERS PART ENDS ======-->
{% endblock content %}