{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'users/css/users_style.css' %}">
{% endblock %}

{% block content %}
<!--====== PAGE BANNER PART START ======-->
    
<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url('/static/images/page-banner-1.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>Register</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'course-home' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Register</li>
                        </ol>
                    </nav>
                </div>  <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== PAGE BANNER PART ENDS ======-->
<div class="login-register-area pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="tab-content">
                        <div class="login-form-container">
                            <div class="login-register-form">
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <!-- <input type="text" name="user-name" placeholder="Username">
                                    <input type="password" name="user-password" placeholder="Password">
                                    <input name="user-email" placeholder="Email" type="email"> -->
                                    <div class="button-box">
                                        <button class="default-btn" type="submit"><span>Register</span></button>
                                    </div>
                                    <div class="pt-3">
                                        <small class="text-muted">
                                            Already Have An Account? <a class="ml-2" href="{% url 'users-login' %}">Sign In</a>
                                        </small>
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!--====== PATNAR LOGO PART ENDS ======-->

{% endblock content %}


