.default-btn {
  background-color: #ffc600;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 21px 40px 21px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 1;
  letter-spacing: .5px;
  border-radius: 50px; }
  .default-btn:hover {
    background-color: #333;
    color: #fff; }
  @media only screen and (max-width: 767px) {
    .default-btn {
      padding: 14px 30px 14px;
      font-size: 15px; } }

.login-register-wrapper .login-register-tab-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 40px; }
    .login-register-wrapper .login-register-tab-list a {
      position: relative; }
      .login-register-wrapper .login-register-tab-list a::before {
        background-color: #454545;
        bottom: 5px;
        content: "";
        height: 18px;
        margin: 0 auto;
        position: absolute;
        right: -2px;
        -webkit-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        width: 1px; }
      .login-register-wrapper .login-register-tab-list a h4 {
        font-size: 25px;
        font-weight: 700;
        margin: 0 20px;
        text-transform: capitalize;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
      .login-register-wrapper .login-register-tab-list a:last-child::before {
        display: none; }
    .login-register-wrapper .login-register-tab-list a.active h4 {
      color: #00a651; }
  
  .login-register-wrapper .login-form-container {
    background: transparent none repeat scroll 0 0;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    padding: 50px;
    text-align: left; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .login-register-wrapper .login-form-container {
        padding: 80px 50px; } }
    @media only screen and (max-width: 767px) {
      .login-register-wrapper .login-form-container {
        padding: 40px 15px; } }
    .login-register-wrapper .login-form-container .login-register-form .form-group {
      margin-bottom: 10px;
    }
    .login-register-wrapper .login-form-container .login-register-form form input {
      background-color: transparent;
      border: 1px solid #ebebeb;
      color: #333;
      font-size: 14px;
      height: 50px;
      padding: 0 15px; }
    .login-register-wrapper .login-form-container .login-register-form form input[type="checkbox"] {
      height: 15px;
      margin: 0;
      position: relative;
      top: 1px;
      width: 17px; }
    .login-register-wrapper .login-form-container .login-register-form form .button-box .login-toggle-btn {
      padding: 10px 0 19px; }
      .login-register-wrapper .login-form-container .login-register-form form .button-box .login-toggle-btn label {
        color: #242424;
        font-size: 15px;
        font-weight: 400; }
      .login-register-wrapper .login-form-container .login-register-form form .button-box .login-toggle-btn a {
        color: #242424;
        float: right;
        font-size: 15px;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
        .login-register-wrapper .login-form-container .login-register-form form .button-box .login-toggle-btn a:hover {
          color: #ffc600; }
    .login-register-wrapper .login-form-container .login-register-form form .button-box button {
      border: medium none;
      cursor: pointer;
      padding: 15px 40px 15px;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      font-weight: 500;
      color: #fff; }
      .login-register-wrapper .login-form-container .login-register-form form .button-box button:hover {
        background-color: #333;
        color: #fff; }
  